<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2 style="font-size: 16px;">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul style="margin-left: 35px; font-size: 14px; margin-top: 10px;">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
