<div class="side-menu__user-profile">
    <a href="" target="_blank" class="side-menu__user-avatar">
        <img src="" alt="User Picture" />
    </a>
    <div class="side-menu__user-info">
        <a href="" target="_blank"> <%= current_user.username %> </a>
        <span> <%= current_user.username %> </span>
    </div>
    <button class="side-menu__user-button">Cambiar</button>
</div>

<div class="side-menu__suggestions-section">
    <div class="side-menu__suggestions-header">
        <h2>Sugerencias para ti</h2>
        <button>Ver todo</button>
    </div>
    <div class="side-menu__suggestions-content">
        <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
                <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
                <a href="#">usernick16</a>
            </div>
            <button class="side-menu__suggestion-button">Seguir</button>
        </div>
        <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
                <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
                <a href="#">usernick17</a>
            </div>
            <button class="side-menu__suggestion-button">Seguir</button>
        </div>
        <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
                <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
                <a href="#">usernick18</a>
            </div>
            <button class="side-menu__suggestion-button">Seguir</button>
        </div>
        <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
                <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
                <a href="#">usernick19</a>
            </div>
            <button class="side-menu__suggestion-button">Seguir</button>
        </div>
        <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
                <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
                <a href="#">usernick20</a>
            </div>
            <button class="side-menu__suggestion-button">Seguir</button>
        </div>
    </div>
</div>
