<!---sidebar--->
<div class="sidebar">
  <a href="#" class="logo">
    <img src="img/insta-logo.png" alt="" />
  </a>
  <div class="profile">
    <div class="profile-img">
      <img src="img/profile-2.jpeg" alt="" />
    </div>
    <div class="name">
      <h1><%= current_user.username %></h1>
      <img src="img/verify.png" alt="" />
    </div>
    <span><%= current_user.email %></span>
  </div>
  <div class="about">
    <div class="box">
      <h3>89</h3>
      <span>Posts</span>
    </div>
    <div class="box">
      <h3>123M</h3>
      <span>Followers</span>
    </div>
    <div class="box">
      <h3>14</h3>
      <span>Following</span>
    </div>
  </div>
  <div class="menu">
    <a href="#" class="active">
      <span class="icon">
        <i class="ri-function-line"></i>
      </span>
      Feed
    </a>
    <a href="#">
      <span class="icon">
        <i class="ri-search-line"></i>
      </span>
      Explore
    </a>
    <a href="#">
      <span class="icon">
        <i class="ri-notification-4-line"></i>
      </span>
      Notifications
    </a>
    <a href="#">
      <span class="icon">
        <i class="ri-mail-unread-fill"></i>
      </span>
      Messages
    </a>
    <a href="#">
      <span class="icon">
        <i class="ri-send-plane-fill"></i>
      </span>
      Direct
    </a>
    <a href="#">
      <span class="icon">
        <i class="ri-bar-chart-fill"></i>
      </span>
      Stats
    </a>
    <a href="#">
      <span class="icon">
        <i class="ri-settings-5-line"></i>
      </span>
      Settings
    </a>
    <a href="#">
      <span class="icon">
        <i class="ri-logout-box-r-line"></i>
      </span>
      <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
    </a>
  </div>
</div>
<!---main home--->
<div class="main-home">
  <div class="header">
    <div class="search">
      <i class="ri-search-line"></i>
      <input type="text" placeholder="search" />
    </div>
    <div class="header-content">
      <i class="ri-notification-4-line"></i>
      <i class="ri-mail-unread-fill"></i>
      <a href="#" class="btn">
        <i class="ri-add-circle-fill"></i>
        <div class="btn-text">Add Photos</div>
      </a>
    </div>
  </div>
  <div class="stories">
    <div class="stories-img color">
      <img src="img/profile-2.jpeg" alt="">
      <div class="add">+</div>
    </div>
    <div class="stories-img">
      <img src="img/profile-1.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/1.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/2.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/3.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/4.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/5.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/6.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/7.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/8.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/3.jpeg" alt="">
    </div>
    <div class="stories-img">
      <img src="img/4.jpeg" alt="">
    </div>
  </div>
  <div class="feed">
    <h1>Feed</h1>
    <div class="feed-text">
      <h2>Latest</h2>
      <span>Populer</span>
    </div>
  </div>
  <div class="main-posts">
    <div class="post-box">
      <img src="img/post1.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/3.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
    <div class="post-box">
      <img src="img/post2.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/2.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
    <div class="post-box">
      <img src="img/post3.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/8.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
    <div class="post-box">
      <img src="img/8.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/5.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="main-posts">
    <div class="post-box">
      <img src="img/post1.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/3.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
    <div class="post-box">
      <img src="img/post2.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/2.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
    <div class="post-box">
      <img src="img/post3.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/8.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
    <div class="post-box">
      <img src="img/8.jpeg" alt="">
      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="img/5.jpeg" alt="">
          </div>
          <h3>Jimmy S</h3>
        </div>
        <div class="likes">
          <i class="ri-heart-line"></i>
          <span>74.8k</span>
          <i class="ri-chat-3-line"></i>
          <span>1.9k</span>
        </div>
      </div>
    </div>
  </div>
</div>
