/*--google font--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #242424;
  letter-spacing: 0.5px;
  color: #fff;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background: #eee;
}

:root {
  --gradient: linear-gradient(to right, #e2336b, #fcac46);
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #1c1c1c;
  padding: 20px;
  z-index: 1000;
}

.logo img {
  width: 140px;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.4rem;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #e2336b;
}

.profile-img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.name {
  display: flex;
  align-items: center;
  margin: 1rem 0 0.4rem;
  color: #fff;
}

.name h1 {
  font-size: 1.1rem;
}

.name img {
  margin-left: 4px;
  width: 20px;
  object-fit: cover;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.box {
  text-align: center;
}

.box h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.box span {
  font-size: 0.98rem;
  font-weight: 0;
  color: #eee;
}

.menu {
  margin-top: 15px;
  margin-left: 5px;
}

.menu a {
  width: 100%;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  line-height: 40px;
}

.btn-logout {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: white;
  cursor: pointer;
}

.menu .icon {
  margin-right: 1rem;
  font-size: 20px;
}

.menu a:hover,
.menu .active {
  color: #e2336b;
}

.menu a:hover::before,
.menu .active::before {
  content: '';
  position: absolute;
  right: 0;
  width: 2px;
  height: 17px;
  background: #e2336b;
}

.menu a:hover .btn-logout {
  color: #e2336b;
}

/*----main home---*/

.main-home {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  background: #242424;
  top: 0;
  min-height: 100vh;
  border-radius: 1rem 0 0 1rem;
  padding: 20px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background: #1c1c1c;
  width: 300px;
  height: 2.4rem;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  right: 10%;
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 7px;
}

.search input::placeholder {
  color: #eee;
}

.search i {
  font-size: 20px;
  color: #eee;
}

.header-content {
  display: flex;
  align-items: center;
  position: relative;
  left: 30%;
}

.header-content i {
  color: #fff;
  font-size: 20px;
  margin-left: 1rem;
}

.header-content .btn {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background: var(--gradient);
  margin-left: 1rem;
}

.header-content .btn i {
  color: hsla(0, 0%, 100%, 0.6);
  margin-right: 10px;
}

.btn-text {
  color: #fff;
}


.feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.feed h1 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #fff;
}

.feed-text {
  display: flex;
  align-items: center;
  color: #eee;
}

.feed h2 {
  font-size: 1rem;
  margin-right: 1rem;
}


.post-box img {
  width: 100%;
  height: 344px;
  object-fit: cover;
  border-radius: 0.8rem;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid #e2336b;
  border-radius: 50%;
}

.post-img img {
  width: 27px;
  height: 27px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.post-profile {
  display: flex;
  align-items: center;
}

.post-profile h3 {
  font-size: 12px;
  font-weight: 600px;
  color: #eee;
  margin-left: 5px;
}

.post .likes {
  display: flex;
  align-items: center;
}

.post .likes i {
  font-size: 20px;
  margin-left: 10px;
  color: #eee;
}

.post .likes span {
  font-size: 14px;
  margin-left: 7px;
  color: #eee;
}

/*--------------------------------------------------------------
# Authentication
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url('')no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif !important;
}

.form-box-register {
  position: relative;
  width: 400px;
  height: 725px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box-login {
  position: relative;
  width: 400px;
  height: 650px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth h2 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.auth h3 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid rgb(255, 255, 255)
}

.inputbox-none {
  position: relative;
  margin: 30px 0;
  width: 310px;
}

.inputbox .error-register {
  position: absolute;
  top: 100%;
  left: 5px;
  transform: translateY(-10px);
  color: #dc3545;
  font-size: 0.9em;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%) !important;
  color: rgb(255, 255, 255);
  font-size: 1em !important;
  pointer-events: none;
}

input:not(:placeholder-shown)~label,
input:focus~label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: rgb(47, 233, 233);
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  top: 20px;
}

.auth-button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: rgb(0, 175, 175);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

.register {
  font-size: .9em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: rgb(47, 233, 233);
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

.error-login {
  font-size: 14px;
  color: red;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.error-register {
  font-size: 14px;
  color: red;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.register p {
  color: white;
}

.bi.bi-instagram {
  display: block;
  margin: auto;
}





/* Vars */
:root {
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 98%);
  --border: hsl(0, 0%, 86%);

  --story-border: hsl(0, 0%, 78%);
  --img-border: hsla(0, 0%, 0%, 0.1);

  --text-dark: hsl(0, 0%, 15%);
  --text-light: hsl(0, 0%, 60%);

  --like: hsl(355, 82%, 61%);
  --link: hsl(204, 100%, 48%);

  --header-height: 44px;
  --nav-height: 44px;
}

:root.darkTheme {
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 2%);
  --border: hsl(0, 0%, 15%);

  --story-border: hsl(0, 0%, 44%);
  --img-border: hsla(0, 0%, 100%, 0.1);

  --text-dark: hsl(0, 0%, 98%);
  --text-light: hsl(0, 0%, 60%);
}

/* -------------------------------------------------- */

/* General Styles */

svg {
  display: block;
}


/* -------------------------------------------------- */


.content {
  width: 100%;
  max-width: 614px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.posts * {
  font-family: 'Times New Roman', Times, serif !important;
}

.posts {
  position: relative;
  right: 22%;
  margin-top: 20px;
}


.post__left-button,
.post__right-button {
  width: 24px;
  height: 24px;
  display: none;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* Post */
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  left: 10%;
}

.post__header {
  background-color: transparent;
  border-bottom: 1px solid var(--border);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.post__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.post__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.post__avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.post__user {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
  text-decoration: none;
  text-transform: lowercase;
}

.post__user:hover {
  text-decoration: underline;
}

.post__more-options {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post__content {
  display: flex;
  position: relative;
}

.post-img {
  width: 612px;
  max-height: 450px;
  border: none;
  border-radius: 0%;
  height: max-content;
}

.post__media {
  width: 100%;
}

.post__footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 4px;
}

.post__button svg path {
  fill: white;
}


.post__buttons {
  display: flex;
  position: relative;
}

.post__button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 8px;
}

.post__button--align-right {
  margin-left: auto;
}

.post__indicators {
  display: flex;
  align-items: center;
  gap: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.post__indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary);
}

.post__indicator--active {
  background-color: var(--link);
}

.post__infos {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  gap: 10px;
}

.post__likes,
.post__description {
  display: flex;
  font-family: "Times New Roman", Times, serif !important;
}

.post__likes {
  align-items: center;
  gap: 6px;
}

.post__likes-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.post__likes-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.post__likes span,
.post__description span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.post__likes a,
.post__description a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.post__name--underline:hover {
  text-decoration: underline;
}

.post__date-time {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-light);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post_content {
  color: hsl(0, 0%, 78%) !important;
}

/* Media Queries */
@media (max-width: 767px) {
  .header__buttons--desktop {
    display: none;
  }

  /* Fix post medias indicators bugs on mobile */
  .post__medias {
    gap: 1px;
  }
}

@media (min-width: 620px) {
  .content-container {
    padding: 30px 0 24px;
  }

  .content {
    gap: 24px;
  }

  .stories {
    border-radius: 4px;
  }

  .stories::after {
    content: none;
  }

  .posts {
    gap: 24px;
  }

  .post {
    border: 1px solid var(--border);
    border-radius: 4px;
  }

  .post__footer {
    padding: 4px 8px 0px;
  }

  .post__date-time {
    margin-top: 6px;
  }

}

/* -------------------------------------------------- */

/* Header Navbar */
.header {
  width: 100%;
  height: var(--header-height);
  background-color:  #1c1c1c !important;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}



.header__content {
  width: 100%;
  max-width: 975px;

  padding: 0 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__home {
  margin-top: 5px;
}

.header__theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-button-sun {
  display: none;
}

.header__theme-button-moon {
  display: unset;
}

:root.darkTheme .header__theme-button-sun {
  display: unset;
}

:root.darkTheme .header__theme-button-moon {
  display: none;
}

.header__search {
  width: 216px;
  height: 28px;

  display: none;
  align-items: center;
  position: relative;
}

.header__search svg {
  width: 12px;
  height: 12px;

  position: absolute;
  left: 8px;
}

.header__search input {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);

  padding: 4px 10px 4px 28px;
  border: 1px solid var(--border);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-light);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header__search input:focus {
  color: var(--text-dark);
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Bottom Navbar */
.navbar {
  width: 100%;
  height: var(--nav-height);
  background-color: var(--primary);

  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.navbar::after {
  content: '';
  position: absolute;
  top: 0;

  width: 100%;
  height: 1px;
  background-color: var(--border);
}

.navbar__button {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__button.profile-button .profile-button__border {
  width: 28px;
  height: 28px;
  border-width: 2px;
}

/* Main Content */
.main-container {
  margin-top: var(--header-height);
  margin-bottom: var(--nav-height);
  display: flex;
  flex: 1;
  width: 56%;
}

.content-container {
  width: 100%;
  max-width: 935px;

  padding: 0 0 8px;

  margin: 0 auto;
  display: flex;
}

.content {
  width: 100%;
  max-width: 614px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.stories {
  width: 100%;
  padding: 16px 0;
  flex-shrink: 0;
  height: 120px;
  position: relative;
  overflow: hidden;
  background-color: #242424;
  border: 1px solid var(--border);
  border-radius: 4px;
  margin-bottom: -18px;
  left: 10%;
}

.stories__content {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
  padding: 0 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
  bottom: 24px;
}

.stories__content::-webkit-scrollbar {
  display: none;
}

.posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.stories__left-button,
.post__left-button,
.stories__right-button,
.post__right-button {
  width: 24px;
  height: 24px;
  display: none;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.stories__left-button {
  left: 10px;
}

.stories__right-button {
  right: 10px;
}

.post__left-button {
  left: 16px;
  opacity: 0.7;
}

.post__right-button {
  right: 16px;
  opacity: 0.7;
}

/* Components */
/* Story */
.story {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.story__avatar {
  position: relative;
}

.story__border {
  width: 64px;
  height: 64px;

  fill: none;
  stroke: var(--story-border);
  stroke-width: 1.5;
}

.story--has-story .story__border {
  stroke: url(#--story-gradient);
  stroke-width: 2;
}

.story__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.story__picture::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.story__user {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
  text-transform: lowercase;

  max-width: 72px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story--has-story .story__user {
  color: var(--text-dark);
}


.posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.stories__left-button,
.post__left-button,
.stories__right-button,
.post__right-button {
  width: 24px;
  height: 24px;
  display: block;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.stories__left-button {
  left: 10px;
}

.stories__right-button {
  right: 10px;
}

.post__left-button {
  left: 16px;
  opacity: 0.7;
}

.post__right-button {
  right: 16px;
  opacity: 0.7;
}

/* Components */
/* Story */
.story {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.story__avatar {
  position: relative;
}

.story__border {
  width: 64px;
  height: 64px;
  fill: none;
  stroke: var(--story-border);
  stroke-width: 1.5;
}

.story--has-story .story__border {
  stroke: url(#--story-gradient);
  stroke-width: 2;
}

.story__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.story__picture::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.story__user {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary);
  text-transform: lowercase;
  max-width: 72px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story--has-story .story__user {
  color: var(--primary);
}


/* Side Menu */
.side-menu {
  max-width: 290px;
  position: fixed;
  left: 60%;
  top: 150px;
  transform: translateX(calc(-50% + 322px));
  display: block;
  flex-direction: column;
}

.side-menu__user-profile {
  display: flex;
  align-items: center;

  margin: 20px 0 22px;
}

.side-menu__user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;

  margin-right: 12px;
  flex-shrink: 0;

  overflow: hidden;
  position: relative;
}

.side-menu__user-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.side-menu__user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 4px;
}

.side-menu__user-info a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
  text-transform: lowercase;

  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.side-menu__user-info span {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);

  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.side-menu__user-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 12px;
  font-weight: 500;
  color: var(--link);

  flex-shrink: 0;
}

.side-menu__suggestions-section {
  display: flex;
  flex-direction: column;
}

.side-menu__suggestions-header {
  display: flex;
  justify-content: space-between;
}

.side-menu__suggestions-header h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-light);
}

.side-menu__suggestions-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 12px;
  font-weight: 500;
  color: var(--text-dark);
}

.side-menu__suggestions-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 16px 0 24px;
  padding-left: 4px;
}

.side-menu__suggestion {
  display: flex;
  align-items: center;
}

.side-menu__suggestion-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  margin-right: 12px;
  flex-shrink: 0;

  overflow: hidden;
  position: relative;
}

.side-menu__suggestion-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.side-menu__suggestion-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 2px;
}

.side-menu__suggestion-info a {
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: lowercase;

  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.side-menu__suggestion-info a:hover {
  text-decoration: underline;
}

.side-menu__suggestion-info span {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);

  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.side-menu__suggestion-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 12px;
  font-weight: 500;
  color: var(--link);

  flex-shrink: 0;
}

.side-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.side-menu__footer-links {
  display: flex;
}

.side-menu__footer-list {
  list-style: none;
}

.side-menu__footer-item {
  display: inline-block;
}

.side-menu__footer-item:not(:last-of-type)::after {
  content: '\00B7';
  margin: 0 0.5px;
}

.side-menu__footer-item,
.side-menu__footer-link,
.side-menu__footer-copyright {
  font-size: 11px;
  font-weight: 400;
  color: var(--text-light);
  text-decoration: none;
}

.side-menu__footer-copyright {
  text-transform: uppercase;
}